# {{ansible_managed}}

#All nodes
{% for host in groups['all'] -%}
  {{ hostvars[host]['ansible_ssh_host'] }} {{ hostvars[host]['ansible_hostname'] }} {{  hostvars[host]['ansible_fqdn'] }}
{% endfor -%}

127.0.0.1  {{ansible_hostname}} {{ ansible_fqdn }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
